<h2>Task 5 A</h2>

<app-input-form
  (onMakeResultForFirstTask)="setFirstTask($event)"
  (onMakeResultForSecondTask)="setSecondTask($event)"
></app-input-form>
<hr>

<div *ngIf="firstTaskResult">
  <div>
    <p>Array Index: <strong>{{firstTaskResult.arrayIndex}}</strong></p>
    <p>Calculation Max: <strong>{{firstTaskResult.calculationMax}}</strong></p>
  </div>
</div>

<div *ngIf="secondTaskResult">
  <div *ngFor="let client of secondTaskResult">
    {{client.idClient}}<br>
    {{client.idBank}}<br>
    {{client.totalSum}}<br>
  </div>
</div>

<app-result-list></app-result-list>

